{% extends 'base.html' %} {% block content %}

<div
  class="container-fluid d-flex flex-column justify-content-center align-items-center"
  style="height: 100vh"
>
  <a a href="{{url_for('userhome')}}"
    ><h1
      class="text-left text-muted links controlLinks colors"
      style="position: absolute; top: 0; left: 0; margin: 10px"
    >
      Pokepy
    </h1></a
  >
  <a a href="{{url_for('logout')}}"
    ><h6
      class="text-right text-muted links controlLinks colors"
      style="position: absolute; top: 0; right: 0; margin: 10px"
    >
      Logout
    </h6></a
  >

  <div class="container-fluid">
    <div class="row"></div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="border rounded p-3 usercard">
          <h3 class="text-center">Edit Your Team</h3>
          <div class="row">
            <div class="col-md-6">
              <h4 class="text-center">Current Team</h4>
              <div class="row">
                <div class="col-12 mb-3">
                  <button
                    type="button"
                    class="border rounded p-2 userhome-btn"
                    data-toggle="modal"
                    data-target="#getMonModal"
                    data-remote="{{ url_for('get_mon', monname=teamobject.mon1) }}"
                  >
                    {{ teamobject.mon1.title() }}
                  </button>
                </div>
                <div class="col-12 mb-3">
                  <form method="POST" action="{{ url_for('get_mon') }}">
                    {{ form.hidden_tag() }}
                    <input
                      type="hidden"
                      name="monname"
                      value="{{ teamobject.mon2 }}"
                    />
                    <button
                      type="submit"
                      class="border rounded p-2 userhome-btn"
                    >
                      {{ teamobject.mon2.title() }}
                    </button>
                  </form>
                </div>
                <div class="col-12 mb-3">
                  <form method="POST" action="{{ url_for('get_mon') }}">
                    {{ form.hidden_tag() }}
                    <input
                      type="hidden"
                      name="monname"
                      value="{{ teamobject.mon3 }}"
                    />
                    <button
                      type="submit"
                      class="border rounded p-2 userhome-btn"
                    >
                      {{ teamobject.mon3.title() }}
                    </button>
                  </form>
                </div>
                <div class="col-12 mb-3">
                  <form method="POST" action="{{ url_for('get_mon') }}">
                    {{ form.hidden_tag() }}
                    <input
                      type="hidden"
                      name="monname"
                      value="{{ teamobject.mon4 }}"
                    />
                    <button
                      type="submit"
                      class="border rounded p-2 userhome-btn"
                    >
                      {{ teamobject.mon4.title() }}
                    </button>
                  </form>
                </div>
                <div class="col-12 mb-3">
                  <form method="POST" action="{{ url_for('get_mon') }}">
                    {{ form.hidden_tag() }}
                    <input
                      type="hidden"
                      name="monname"
                      value="{{ teamobject.mon5 }}"
                    />
                    <button
                      type="submit"
                      class="border rounded p-2 userhome-btn"
                    >
                      {{ teamobject.mon5.title() }}
                    </button>
                  </form>
                </div>
                <div class="col-12 mb-3">
                  <form method="POST" action="{{ url_for('get_mon') }}">
                    {{ form.hidden_tag() }}
                    <input
                      type="hidden"
                      name="monname"
                      value="{{ teamobject.mon6 }}"
                    />
                    <button
                      type="submit"
                      class="border rounded p-2 userhome-btn"
                    >
                      {{ teamobject.mon6.title() }}
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h4 class="text-center">Options</h4>
              <div class="row">
                <div class="col-12 mb-3">
                  <form method="GET" action="{{ url_for('get_mon') }}">
                    <button
                      type="submit"
                      class="border rounded p-2 userhome-btn"
                    >
                      See one Pokemon
                    </button>
                  </form>
                </div>
                <div class="col-12 mb-3">
                  <form method="GET" action="{{ url_for('all_mons') }}">
                    <button
                      type="submit"
                      class="border rounded p-2 userhome-btn"
                    >
                      See all Pokemon
                    </button>
                  </form>
                </div>
                <div class="col-12 mb-3">
                  <form method="GET" action="{{ url_for('edit_team') }}">
                    <button
                      type="submit"
                      class="border rounded p-2 userhome-btn"
                    >
                      Edit your team
                    </button>
                  </form>
                </div>
                <div class="col-12 mb-3">
                  <form method="POST" action="{{ url_for('random_team') }}">
                    <button
                      type="submit"
                      class="border rounded p-2 userhome-btn"
                    >
                      Make a random team
                    </button>
                  </form>
                </div>
                <div class="col-12 mb-3">
                  <form method="POST" action="{{ url_for('delete_team') }}">
                    <button
                      type="submit"
                      class="border rounded p-2 userhome-btn"
                    >
                      Delete my team
                    </button>
                  </form>
                </div>
                <div class="col-12 mb-3">
                  <form method="GET" action="{{ url_for('delete_account') }}">
                    <button
                      type="submit"
                      class="border rounded p-2 userhome-btn"
                    >
                      Delete my account
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
