{% extends 'base.html' %} {% block content %}

<div
  class="container-fluid d-flex flex-column justify-content-center align-items-center"
  style="height: 100vh"
>
  <a a href="{{url_for('userhome')}}"
    ><h1
      class="text-left text-muted links controlLinks colors"
      style="position: absolute; top: 0; left: 0; margin: 10px"
    >
      Pokepy
    </h1></a
  >
  <a a href="{{url_for('logout')}}"
    ><h6
      class="text-right text-muted links controlLinks colors"
      style="position: absolute; top: 0; right: 0; margin: 10px"
    >
      Logout
    </h6></a
  >

  <h1 class="text-center welcome">{{ mondata.monname.title() }}</h1>
  <div
    class="row justify-content-center align-items-center"
    style="width: 80vw"
  >
    <div class="col-6" style="width: 50%">
      <img
        src="{{ mondata.sprite }}"
        alt="Sprite"
        style="width: 100%; height: auto"
      />
    </div>
    <div class="col-6" style="width: 50%">
      <p>ID: {{ mondata.monid }}</p>
      <p>Height: {{ mondata.height }}</p>
      <p>Weight: {{ mondata.weight }}</p>
      <p>Type: {{ mondata.type.title() }}</p>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <a href="{{ url_for('get_mon')}}" class="btn btn-primary"
        >Check out another Pokemon!</a
      >
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <a href="{{ url_for('userhome')}}" class="btn btn-primary mt-2"
        >Go Home</a
      >
    </div>
  </div>

  {% endblock %}
</div>
